@charset "utf-8";
/* CSS Document */
@media  (max-width: 997px) {
	.navigation-section ul li { padding: 0 10px;}
	#test-lists p { padding: 0 100px;}
}
@media (max-width: 768px) {
	.toggle-menu { display:block; position:absolute; right:15px; top:-32px;}
	.navigation-section { width:100%; }
    .navigation-section ul li { float:none; padding:5px 0; border-bottom:1px solid #eee;}
	.navigation-section ul li:last-child{ border-bottom:none;}
	.navigation-section {display:none;}
	.logo{ width:150px;} 
	.toggle-bar { display: block; }
	.navbar-nav > li { float: none; }
	ul.nav { display: none; }
}
@media (max-width: 640px) {
	.slider-image figcaption h1 { font-size:30px;}
	.slider-image figcaption h3{ font-size:16px; margin-bottom:0;}
	.la-heading h2 { font-size:24px; }
    .la-bar::before, .la-bar::after { height:26px;}
		#test-lists p { padding: 0 50px;}

@media (max-width:420px){
	.logo{width:100px;}
	header{ padding: 10px 0;}
	.toggle-menu{ top:-25px;}
	#test-lists p { padding: 0 20px;}
	#slider-lists figure { height:250px;}
	#slider-lists figure img{ height:100%; object-fit:cover;}

	
}
@media (max-width: 360px) {
}

@media (max-width: 320px) {
}

