@charset "utf-8";
/* CSS Document */

*
{ margin:0px; padding::0px;}
img{ max-width:100%; display:block; height:auto; } 
ul, ol{ padding:0; margin:0;}
li{ list-style:none;}
a, a:hover, a:focus { text-decoration:none; cursor:pointer;}
.la-bar{ position:relative; padding:0 20px;}
.la-bar:before, .la-bar:after{ position:absolute; height:40px; width:5px; background:orange; top:0; left:0; content:'';}
.la-bar:after{ left:auto; right:0;}
.anc-btn:hover { color:orange;}
.la-heading{ text-align:center; margin:30px 0;}
.la-heading h2{ display:inline-block;  margin-bottom:20px;}
.new { text-align:center;}
.main-hed { text-align: center;font-weight: bold;padding: 25px 0; margin: 0;}
h1,h2,h3,h4,h5 { color:#333; margin-top:0;}
body { font-family: 'Roboto', sans-serif;}
.my-sticky { position: fixed; width: 100%; z-index: 9999; background: #007ABD; padding:0;top: 0; }
.my-sticky .top-header { display: none; }
.my-sticky .logo img { width: 160px; padding:0;}
.my-sticky .bottom-header .navbar { padding: 0;}
.my-sticky .bottom-header .navbar li {padding: 5px 18px;}
.heading { font-weight: none; }
/** header**/ 
.logo { padding:10px 0px; }

.logo a { color:#000; line-height:92px;}
.logo a:hover{ color: #039;}
.logo img {transition: all 0.4s ease-in-out;}


/**bottom-nav**/
.navbar-default {background-color: #fff; border-color: #fff;}
.bottom-header .navbar-nav { float:right; font-size:18px;}
.bottom-header .navbar { margin-bottom:0; }
.bottom-header .navbar-collapse { padding:0 ;}

/**top-nav**/
header {
    background: #007ABD;
    margin-bottom: 30px;
    padding: 0px 0;
}
header form { height:40px;}
header form input { height:100%; padding:0 10px; border: 1px solid #ccc;}
.bottom-header .navbar {
    margin-bottom: 0;
  padding: 10px 0;
background: #007ABD;
border: none;
color: #000;}
.bottom-header .navbar li a { color: #ddd; font-size: 16px; font-weight: bold;}


img.logo-header {
    height: 70px;
    width: 80px;
}

.top-header form button { height:100%; background:#39F; color:#fff; border:none; padding:0 10px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {background-color: transparent;color: #fff;} 
.navbar-nav > li {float: left;padding: 7px 20px; color: #000;}
.navbar-nav li a { padding:13px 0;}


/** header searc css **/
#header-search { display: none;
    min-width: 300px;
    position: absolute; right: 0; top:90%;}
#header-search input {width: 85%; float: left; height: 41px;}
#header-search button { float: right;width: 15%; height: 40px;background-color:#ddd;border: none; padding:0 5px;}
.clicked i.fa:before { content: '\f00d';font-family: 'FontAwesome'; }
.hdr-search a { width: 20px; }
/**slier**/
#banner-section { overflow:hidden; clear:both; padding: 0 40px;}
#banner-slider { width:65%; height:500px; overflow:hidden; float:left; position: relative;}

.mt-tabs { position: absolute; left: 30px; bottom:130px; z-index: 999;color:#fff; width: 55%;height: 55%;}
.mt-tabs .tab-content { background-color: #eee; color: #000; border-radius: 0 0 8px 8px;}
.mt-tabs .card { width: 100%;color: #333; padding: 20px;}
.mt-tabs .card table { margin: 10px 0;  width: 100%; height: 250px; padding: 0 20px;}
.mt-tabs .card table th i.fa { float: none; padding-left: 10px; color:#999; }
.mt-tabs .card table th{ background: #fff; font-size: 14px; padding: 11px;}
.mt-tabs .card .nav-tabs { border-bottom: none; width: 100%;height: 100%;}
.mt-tabs .card .nav-tabs li { float: left;margin-bottom: -12px; } 
.mt-tabs .card .nav-tabs li a { color:#fff; background-color: #00CCCD;padding: 12px 48px; font-weight: bold; font-size: 18px; border:none;}
.mt-tabs .card .nav-tabs li a:hover , .mt-tabs .card .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{ color:#000; background-color: #fff; }


.mt-tabs .card .nav-tabs > li.active a { color:#00CCCD; background-color: #fff; }
.mt-tabs table tr , .mt-tabs table thead { border-bottom: 1px solid #fff; padding: 0 15px; }
.mt-tabs table td , .mt-tabs table th {width: 20%;text-align: center; font-size: 16px;}
 
.slider-one figure { position:relative; height: 550px;}
.slider-one figcaption button { padding: 10px 30px; background-color: #36c; border:none; margin-left: 10px; border-radius: 15px 15px;}
.slider-one figcaption button:hover { background-color: #fff; color: #000; border:none; }

.tab-content button { padding: padding: 0px -1px;
    text-align: center;
    margin: 10px 10px;
    width: 25%;
    padding: 8px 0;
    background: #00CCCD;
    color: #fff;
    border:none;}

.tab-content button:hover { background-color: #fff; color:  #00CCCD;  }

/*.slider-one figcaption { position:absolute; bottom:0%; left:0; content:''; color:#FFF; background:rgba(0,0,0,0.4); width: 100%; height: 70%;padding: 20px 80px;}*/
.slider-one figcaption table { display: none; }
.slider-one h1 a:hover { color:#fff; text-decoration: underline;}

.slider-one h1 a { color: #fff; }
.slider-one p { font-size: 20px; }
.sec-banner { width:35%; float:right; height:500px; padding-left: 20px;}
.sec-banner .sec-content { height:100%; overflow:hidden; padding: 10px;}
.sec-banner .sec-content li { padding: 10px 0; border-bottom: 1px solid #ccc; }
.sec-content a { color:#333; font-size:20px; padding: 15px 0;}
.sec-content a:hover { color:blue;} 
.sec-content p { color: #92889D; font-size: 16px  }

/** content**/ 
.heading { text-align:center; font-weight:bold;}

/** content middle**/
#content-sec { margin: 40px;clear: both;}
#content-sec .heading { font-weight: normal; } 
#content-sec table th { background: #eee;height: 50px;line-height: 41px; border: 1px solid #ddd;}
#content-sec table i.fa { line-height: 40px; }
#content-sec table tr td { height: 45px; line-height: 28px; }
.heading {margin-bottom: 20px; font-weight:none;}
.heading .con-icon { display:inline-block; height:50px;  padding: 0px 10px;}
.heading .loan-icon { display:inline-block; height:50px; padding: 0px 10px;}

table i.fa { float:right;}
.mid-anchor { text-align:center; margin-top: 20px;}
.mid-anchor:hover { opacity: 0.6; } 
.mid-anchor .mt-btn { background:#39F; border:1px solid #39F;border-radius: 4px; padding: 10px 30px;color: #fff; }

/**middle slider**/
.slider-mid { background:#eee; margin-top:40px; padding:40px 0;}
.slider-anchor {text-align:right; margin-right:28px;}
.slider-anchor a { color:#000; padding:0 5px;}
#business-list .slider, #finance-list .slider, #management-list .slider, #bank-list .slider  { margin:0 15px;}

#business-list .slider figure img , #finance-list .slider figure img , #management-list .slider figure img , #bank-list .slider figure img  {height: 136px; overflow: hidden;}

.business-b h3 { float:left; margin-top:0; margin-left: 13px;}
#business-list { clear:both;}
#business-list figcaption h1 , #bank-list figcaption h1 , #finance-list figcaption h1 , #management-list figcaption h1 { font-size:20px; color:#000; margin-top:15px;}
#business-list figcaption p , #bank-list figcaption p , #finance-list figcaption p , #management-list figcaption p  { font-size:14px; color:#666;}

/** bank-con**/
#bank-con { margin-top:40px;}
#bank-list { clear:both;}
#business-list .slider figcaption, #bank-list .slider figcaption, #finance-list .slider figcaption, 
#management-list .slider figcaption{ left:auto; top:auto;  position: inherit;}
.bank-b h3 { font-size:24px; color:#000; float:left; margin-top:0; margin-left: 13px;}

/** finance & managment**/
#categories { padding:40px 0; background:#f5f5f5f5;}
#categories h3 {font-weight: bold; margin: 0 0 7px; font-size: 18px; margin-top: 15px;}
#categories .nav-tabs > li {  float: none; margin-bottom: -1px; display: inline-block;}
#categories .nav-tabs { text-align:center; margin-bottom:30px; border-bottom:0;}
#categories .nav-tabs > li.active > a, #categories .nav-tabs > li > a:focus, #categories .nav-tabs > li> a:hover { border:none; border-bottom: 4px solid #39c; color:#39c; background:transparent;}
#categories .nav-tabs > li > a { color:#666; font-size:18px; padding: 0 10px 10px;
}

/** Newsection**/
#new-sec {padding: 40px 0; background-color:none;}
#new-sec .slider {padding: 0px 10px;}
#new-sec .slider figure img {height: 120px; overflow: hidden;}
#new-sec .slider h3 {    height: 40px;
    overflow: hidden;
    padding: 18px 0; font-weight: bold;font-size: 18px; margin:0;}

  #new-sec .slider p {font-size: 14px;}

#new-sec  .owl-carousel .owl-nav.disabled {
    display: block;}

#new-sec  .owl-carousel .owl-nav .owl-prev { position: absolute;top: 43%; left: -43px; font-size: 30px;border-radius: 50%; width: 40px; height: 40px; line-height: 40px; text-align: center; background-color: #ddd; }    
#new-sec  .owl-carousel .owl-nav .owl-next  {position: absolute;top: 43%; right: -43px; font-size: 30px;  border-radius: 50%; width: 40px; height: 40px; line-height: 40px; text-align: center; background-color: #ddd;}
/** jobs**/
#job-sec .heading { font-weight: normal; background-color:#C3E2F8; margin:0; padding:10px 0;  }
#job-sec .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border:none;
}
 #job-sec table th { background: #eee;height: 50px;line-height: 41px; text-align: center;}
 #job-sec table tr td { height: 45px; line-height: 28px;text-align: center; }
 #job-sec table tr:nth-child(even) { background: #f5f5f5; }
 #job-sec table tr button { border: none;background: transparent; }
  #job-sec table tr button:hover { color: #36c; }

 #job-sec table  i.fa:hover { background: #36c; color: #fff; }
 #job-sec table i.fa { line-height: 30px; padding: 0 5px; }
#job-sec { margin-top:40px;}
#job-btn {text-align: center;}
#job-btn button { background:#39F; border:1px solid #39F;border-radius: 4px; padding: 10px 30px;color: #fff; }
#job-btn button:hover{ opacity: 0.6; }
#job-btn button a { color: #fff; }

/** subscribe**/
#sub-section{margin-top: 44px;background: #3399CC;padding: 40px 0; }
.subscribe-sec { margin-top: 10px; }
.subscribe-sec #email {width: 280px; height: 45px;}
.subscribe-sec .btn-default {color: #fff; background-color:#39c;border-color: #ccc;padding: 10px 16px; font-size: 16px;}
.subscribe-sec .btn-default:hover {background: #fff; color: #666;}
#sub-section h3 {  font-weight: normal; font-size: 28px; margin-bottom: 5px; color: #fff; text-align: center; }
#sub-section p { color:#eee; font-size: 18px;}

/**footer**/
footer{ background: #2d313d ; padding: 50px 0; }
.footer-section h4 { color: #eee; margin-bottom: 20px; font-size: 1.2em; }
.footer-menu li a { font-size: 1.1em; line-height: 2em;  color: #aaa; text-transform: capitalize; }
.footer-menu li a:hover {color: #3399CC;}
.footer-section li, .footer-section a{font-weight: normal; line-height: 26px; }
.footer-menu > li {  float: left;  width: 50%; padding:5px 0; }
.post-date{ display: block; color: #888; display: block; font-size: 0.84em;}
.footer-news h4 { color: #fff; }
.footer-news li { border-bottom: 1px solid #555; padding: 5px 0; }
.footer-news li:last-child{ border-bottom: none; }
.footer-news a { font-weight: 600; color: #aaa; }
.footer-news a:hover { color:#3399CC;}
.contact > a { color: #fff; font-size: 1.6em; }
.contact i.fa { border: 2px solid #fff; border-radius: 50%; height: 45px; line-height: 40px;   margin-right: 10px; text-align: center; width: 45px; vertical-align: middle;}
.contact:hover i.fa{ background: #fff; color: #333; }
.textwidget { color: #888; display: block; padding: 30px 0 20px;  font-size: 0.9em; }
.footer-section a:hover{ color: #F15A23 ; }
.social-sec li { font-size: 18px; display: inline-block; margin-top: 20px; padding-left: 20px; }
.social-sec li a { color: #fff;  }
.social-sec li a:hover { color:#3399CC; }
.social-sec i.fa { font-size: 24px;}
footer .textwidget { text-align: center; padding-bottom: 0;}
footer .footer-widget h4 {color: #fff;}
.textwidget span a { color:#eee;}
.textwidget span a:hover { color:#36c; text-decoration: underline;  }
.foot-logo figure img { width: 134px;
    height: 128px; }

/** css for bussiness**/

#content-section { padding: 40px 0; }
 #bred-sec { background: #eee; margin-top: -30px;}
ul.breadcrumb {padding: 20px 0px;list-style: none;text-align: right; background: none; margin-bottom: 0;}
ul.breadcrumb li {display: inline; }
ul.breadcrumb li+li:before {color: black;content: "/\00a0"; }
ul.breadcrumb li a {color: green;}
.img-sec figure img { height: 350px; width: 100%; }
.img-sec h2 {margin-top: 20px; font-size: 38px;}
.img-sec p { font-size: 16px; color: #666; }
.link-sec h2 {text-align:center; background: #EEEEEE; margin:0; padding: 10px 0;border:1px solid #ccc; font-size: 20px;}
.link-sec ul { background:#fff; margin-bottom: 10px; }
.link-sec ul li {padding: 10px 3px; border-bottom:1px solid #ccc;}
.link-sec ul li:hover {background:#5CADFF; color:#fff; }
.link-sec ul li a {padding: 5px 0px; color: #536587; width:100%; display: inline-block; font-size: 18px;}
.link-sec ul li a i.fa {float: right;}
.link-sec ul li:hover a{ color: #fff; }
.link-sec p { padding: 16px;  overflow: hidden; font-size: 18px;color: #fff; }
.in-a ul {background: transparent; }
.in-a ul:hover {background: #5CADFF;  }
.in-a ul li { display:inline-block; border: none;}
.in-a ul li a { font-size: 14px; color: #000 !important;background: #fff; border-radius: 15px; padding: 3px 5px; border: 1px solid #eee; } 
.in-a ul li a:hover { color: orange !important;}
.mt-business-content .btn-default {background:#3399CC; color: #fff;}
.mt-business-content .btn-default:hover { background: #fff; color: #000;}

/** emi calculator **/
.emi-calc {background: url("../images/one.jpg") no-repeat top center / cover;padding: 30px;   text-align: center;color: #fff;margin-bottom: 40px;position: relative;color:#fff;
   margin-top: 26px;}

.emi-calc-content {z-index: 99;position: relative;}
.emi-calc-content h3  {color: #fff;}

.btn-blue, .btn-blank {background: #0f94e1;padding: 12px 40px;border-radius: 34px;
   color: #fff;display: inline-block; border: 2px solid #0f94e1; margin-right: 10px;
   font-weight: 700;
}
.emi-calc::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(20,74,106,0.8);
   content: '';
   z-index: 9;
}

#mt-business-lists h3 {font-size:30px;}
.mt-business-content img , .mt-business-content h4 {padding:10px 0; }
.mt-business-content h4 {font-size:22px; font-weight: none; color:#3D5975;  display: inline-block; margin-bottom: 0;}
.mt-business-content h4 a {color:#333; }
.mt-business-content h4 a:hover {opacity: 0.8;}
.mt-business-content p { font-size: 16px; color: #666;}
.mt-business-content button { background:#39c; color:#fff; border: none; padding: 7px 20px;}
.mt-business-content button:hover {background: #fff; color: #333; border: 1px solid #666;}

/**about us**/
.top-header li a:hover  { border-bottom:4px solid #36f; color:#36f; }
.bread-2 { margin-top:-30px; background:#EEEEEE;  }
#banner-det { background:none; padding: 40px 0; }
#banner-det h2 {  text-transform: uppercase; text-align: center;}
#banner-det .nav-pills > li {border-radius: 3px; border: 1px solid #ddd;}
#banner-det .nav-pills > li.active > a {color:#fff; background-color:#0F94E1;}
#banner-det .nav-pills > li a {color:#333;background-color:#FFF; background: transparent; width: 100%; font-size: 16px;padding: 11px 30px; font-size: 20px; position: relative; height: 100%}
#banner-det .nav-pills > li a:hover {color:#FFF; background:#ddd;}

   
#banner-det .tab-content { padding: 24px 0;}
 #banner-det .tab-content p { color: #666; font-size: 17px; padding: 0 54px;}
 #banner-det .tab-content h4 {font-size: 28px;padding: 9px 10px;background: #3399CC;margin: 0 42px;color: #fff;}
#banner-det .nav { padding-left: 0; margin-bottom: 0; list-style: none; padding: 23px 0;}
#banner-det .nav li { font-size: 14px; }
#banner-det ul figure { padding: 10px 0;}
/**contact us**/
#contact-sec { padding: 30px 0; background: #fff;}
#contact-sec hr {width: 30%; margin: 0 0 20px;}
#contact-sec h2 {padding: 10px 0; margin: 0;}
#contact-sec ul li i.fa {float: left; padding: 3px 6px;}

#contact-sec button { padding: 8px 20px; margin-top: 20px; background: #3399FF; border:none; color: #fff; }
#contact-sec button:hover { background: #fff;border:1px solid #666; color: #333; }
.conta-sec {margin: 0 24px;}
.conta-sec h3 { padding: 15px 0; }
.conta-sec ul { padding: 10px 0; color:#d1c8c8; }
.conta-sec li p { color: #333;}
.conta-sec li a {color:#36c; text-decoration:underline;padding: 5px 0;}
.conta-sec li a:hover{ color:orange; }
.conta-sec ul i.fa { padding: 0 5px; }
.md-soc {padding: 5px 13px;}
.md-soc a i.fa {font-size: 16px; color:#3399CC;  }
.md-soc a:hover i.fa {font-size: 18px; color:orange; }
#contact-sec .form-control{ background: #eee; }

/** arts css**/
.cover { padding: 20px 0; }
.cover h2 { text-align: left; margin: 0 0 22px; text-transform: uppercase;}
.top-t {padding-bottom: 40px;}
.cov1 { background: #EEF7FC; margin: 0px 15px; }
.cov1 img { float: right; height: 112px; width: 193px; }
.cov1 h3 {text-align: center; font-weight: 600; padding: 23px 0 0;}
.cov1 p {text-align: left;}
.pic { border: 2px solid #eee; padding: 10px 10px; }
.pic h4 { text-align: center;}
.pic figure img { padding: 10px 0; }
.he-2 { text-decoration: underline;}

/**rates**/
#table-1 { padding: 20px 0; }
#table-1 hr { width: 74%;}
.left-tbl th { padding: 16px 62px;}
.left-tbl tr td {padding: 10px 41px;text-align: center;}
.left-tbl table { border:1px solid #ddd; }
.left-tbl table tr:nth-child(even) { background:#F6F6F6; }
.left-tbl h2 { margin: 0; text-align: center; background: #C3E2F8;padding: 11px 15px; color: #fff; }

.left-tbl i.fa { float: right; padding: 3px 6px;}

.left-tbl thead { background-color:#eee;}

#rt-loan{ padding: 40px 0; }
#rt-loan th { padding: 16px 64px;}
#rt-loan tr td { padding: 10px 41px;}



#table-1 #rt-loan {margin: 20px 0;}
.sec-bar { border: 1px solid #eee; padding: 20px; }

.sec-bar table th {padding: 10px 12px;}
.sec-bar tr td {padding: 10px 10px;}

/**jobs**/
.gog  {padding:30px;}
#jo-req { padding: 30px 0; background-color: #ddd; }
#jo-req h3 { text-decoration: underline; }
#jo-req img { width: 300px; height: 200px; }

/**bank pages**/
#bank-page { padding: 40px 0; }


.hed-office { border: 1px solid #eee; padding: 10px 20px; overflow: hidden; object-fit: cover; }
.info-bank figure {width: 162px; } 
.info-bank .dt-side a { background: #36c; border-radius: 15px; color: #fff;padding: 10px 20px; margin: 10px 0; border: none; }
.info-bank .dt-side a:hover { background:orange; color: #fff; }
.tab-bank {padding: 40px 0 }
.tab-bank .tab-content {padding: 30px 20px; border: 1px solid #eee; background: #eee; }
.tab-bank .nav-tabs{ font-size: 15px; font-weight: bold;margin: 0;}
.tab-bank .nav-tabs a { background: #fff; color: #333; }
.tab-bank .nav-tabs > li > a:hover { color: #fff;background-color: #00CCCD;}
.tab-bank .nav-tabs > li.active > a:focus { background: #eee; }
.hed-office img {height: 310px;width: 100%;margin: 10px 0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {    
    background-color: #eee;}

/** detail-pages**/
.hed-office iframe { height: 290px; width: 317px; }
.pg-dt figure img { width: 100%; height: 250px; object-fit: cover; padding-bottom: 40px; }



/* google custom search  */
div#___gcse_0 {
    max-width: 300px;
    float: right;
}
.gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: transparent !important;
    background-color: transparent !important;
}


/*FAQ */
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
}

corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
   /* background-image: url(images/ui-icons_ffffff_256x240.png);*/
}
.ui-icon-triangle-1-s {
    background-position: -65px -16px;
}
.ui-icon, .ui-widget-content .ui-icon {
    /*background-image: url(images/ui-icons_444444_256x240.png);*/
}
.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

/*reistration form */
/*form.contact-form {
    border: 50px solid darkslategrey;
}*/

#contact-section { background: #F2F0F0; margin-top: 60px; }
#contact-section .form-control { height: 54px; border: 2px solid #E0E0E0;}
#contact-section textarea.form-control{  min-height: 129px;}
.contact-intro h3{ font-size: 34px; font-weight: bold; }
.contact-intro p { font-size: 17px; color: #3A3838; }
.form-control { border: 1px solid #dcdcdc; border-radius: 0; box-shadow: none;height: 58px;padding: 5px 15px;width: 100%; resize: none; }
.registration-form{ max-width: 417px; margin: 20px auto;}
.registration-form #submit { background:#F15C22 ; width: 100%; border:none; height: 54px; color: #fff; font-size: 16px;}
.registration-form #submit:hover { background: #004088;  }


#mt-secondary .mt-inner-contents.other-links li {

font-size: 16px;
margin-bottom: 4px;
font-size: 18px;

}

#detail-section { padding: 80px 0 60px; }
.mt-banner {
    width: 100%;
}
#mt-primary {
    border-right: 2px solid #eee;
    padding-right: 30px;
}
.mt-inner-contents {
    margin-bottom: 40px;
}
.mt-inner-contents .table { max-width:700px;}
.mt-inner-contents td, .mt-inner-contents th { color:#6e6e6e; border: 1px solid #ccc; height: 50px; padding:15px; vertical-align: middle !important;}
.mt-inner-contents th{ color:#945B9E; min-width: 200px; }
#mt-primary .mt-inner-contents li {
    color: #777;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    padding-left: 20px;
} 
#mt-primary .mt-inner-contents li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '\f111';
    font-family: 'FontAwesome';
    font-size: 10px;
}
#mt-secondary .mt-inner-contents.other-links li {

font-size: 16px;
margin-bottom: 4px;
font-size: 18px;

}

#mt-secondary .dit-inner-contents li {
    padding: 5px 0;
    float: left;
}
.mt-inner-contents h4 {
    font-size: 22px;
}
.mt-tags a {
    background: #eee none repeat scroll 0 0;
    border-radius: 4px;
    padding: 5px 10px;
        display: inline-block;

}
.mt-tags li {
    display: inline-block;
    margin: 3px 0;
}
.mt-inner-contents h2 {
    margin-bottom: 10px;
    font-weight: 400;
}
.other-links a {
    width: 100%;
    display: inline-block;
    background: #eee;
    padding: 10px 20px;
}
.other-links a i.fa { font-size:20px; color:#999; }
.other-links a:hover{ background: #004088; color:#fff;}
.mt-inner-contents form { border:1px solid #ccc; padding:30px; }
#features-tab-section {
    padding: 60px 0;
}
.feature-navs li {
    width: 25%;
    float: left;
    margin: 0 !important;
    padding: 0;
    text-align: center;
    border:1px solid #ccc;
}
#features-tab-section .tab-content {
    margin-top: 30px;
}
#features-tab-section i.fa { display: block; font-size:20px; }
#faq h3{
  position:relative; padding-right:30px;
  font-size: 20px;
}

#faq p{
  font-size: 16px;
  }
#faq h3:before{
  position:absolute;
  content: '\f107'; 
  font-family: 'FontAwesome';
  right: 0;
  top:0;
}
.ui-accordion-header-active {
  background:blue;
  color:#fff;
}

/** menu toggle css starts here **/
.toggle-bar {

      display: block;
    position: absolute;
    top: 18px;
    right: 16px;
  display: none;
  

    width: 30px; height: 30px;
}
.toggle-bar i.fa { color: #fff; width: 100%; height: 100%; cursor: pointer; }
ul.nav { display: block; }
.mt-box {
    width: 30%;
    position: relative;
    float: left;
    margin: 30px 7px;
}
form.registration-form.mem-page {
    max-width: 1200px;
}

.mem-panel input.form-control {
    height: 20px; width: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.mt-box  img { height: 220px; width: 100%; background: #eee; object-fit: contain; }
#mem-primary { width: 75%; float: left; }
#mem-secondary{ width: 20%; float: right; }
footer{ clear: both; }


